<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        h1{
            color: red;
        }
    </style>
</head>
<body>
    <center>
        <h1>Welcome To Home Page</h1>
        <h1>This is rendering by using <span style="color: blue;">render</span> function</h1>
        <h1>This is our first html page</h1>
    </center>
</body>
</html>